.navbar {
  height: 56px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--navbar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 1.8rem;
}

.navbar nav {
  height: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
}

.list-item {
  margin: 0;
  display: flex;
  width: auto;
  font-size: 2rem;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 2rem;
  gap: 1rem;
}

.list-item a {
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
}

.list-item a:hover,
.list-item a.active {
  background-color: var(--accent);
  height: 1.3rem;
  color: black;
  font-weight: 600;
}

.switch {
  display: flex;
}

@media only screen and (min-width: 360px) and (max-width: 500px) {
  .list-item {
    font-size: 1.5rem;
    gap: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
  }
  .sun {
    margin-left: 0.8rem;
  }

  .moon {
    left: 0.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 359px) {
  .list-item {
    font-size: 1.5rem;
    gap: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
  }
  .sun {
    margin: 0;
  }

  .moon {
    left: 0.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}
