.wrapper {
  background-color: var(--background);
  color: var(--text-primary);
  padding-top: 1rem;
  transition: 0.5s;
}

.container {
  margin: 0 auto;
  width: 700px;
  height: 600px;

  border-radius: 5px;
  position: relative;
  padding-bottom: 5rem;
}

.movie-card {
  font: 14px/22px;
  padding: 40px 0;
}

.details {
  padding: 50px 0 0 50px;
}

.title {
  font-size: 2rem;
  margin-bottom: 13px;
  line-height: normal;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.title span {
  margin-left: 12px;
  background: #c4af3d;
  border-radius: 5px;
  color: #544c21;
  font-size: 14px;
}
.description {
  bottom: 0px;
  height: 11rem;
  font-weight: 600;
  line-height: 1.5rem;
  list-style-type: none;
  width: 80%;
  padding-top: 1rem;
}
.column {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 480px;
}

.img img {
  width: 50vh;
  height: 80vh;
  padding-top: 4rem;
  padding-left: 50px;
  transition: 0.5s;
}

.button {
  margin-left: 8rem;
}

.img span {
  margin-left: 3rem;
}

.container2 {
  display: flex;
  flex-direction: row;
}

.asd {
  padding-top: 1rem;
  bottom: 0px;
  height: 4rem;
  line-height: 1.5rem;
  display: inline-flex;
  list-style-type: none;
  gap: 1rem;
  row-gap: 1rem;
}

.asd span {
  font-weight: 600;
}

.imdb {
  list-style-type: none;
  font-weight: 600;
}
.imdb span {
  font-weight: 500;
  padding-left: 1rem;
}
