@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family: "Dosis", sans-serif;
}

.link {
  color: #148cb3;
}

:root {
  --background-dark: #1c1c1c;
  --background: #e9ecef;
  --text-primary: #1c1c1c;
  --text-secondary: #333;
  --input-bg: rgba(173, 181, 189, 0.4);
  --navbar: #2f3e46;
  --accent: #cad2c5;
  --input-text: #220901;
}
[data-theme="dark"] {
  --background: #1c1c1c;
  --text-primary: #fff;
  --text-secondary: #b6b5b6;
  --text-header: var(--accent);
}
